/* Normal desktop :1200px. XL */
@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        max-width: 1170px;
    }

}


/* Normal desktop :992px. LG */
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .col-lg-1 {
        width: 8.33%;

    }

    .col-lg-2 {
        width: 16.66%;

    }

    .col-lg-3 {
        width: 25%;

    }

    .col-lg-4 {
        width: 33.33%;

    }

    .col-lg-5 {
        width: 41.66%;

    }

    .col-lg-6 {
        width: 50%;

    }

    .col-lg-7 {
        width: 58.33%;

    }

    .col-lg-8 {
        width: 66.66%;

    }

    .col-lg-9 {
        width: 75%;

    }

    .col-lg-10 {
        width: 83.33%;

    }

    .col-lg-11 {
        width: 91.66%;

    }

    .col-lg-12 {
        width: 100%;

    }

    .d-lg-none {
        display: none;
    }

    

}

/* 992,768,576,350 */
/* Tablet desktop :768px. md */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 750px;
    }

    .col-md-1 {
        width: 8.33%;

    }

    .col-md-2 {
        width: 16.66%;

    }

    .col-md-3 {
        width: 25%;

    }

    .col-md-4 {
        width: 33.33%;

    }

    .col-md-5 {
        width: 41.66%;

    }

    .col-md-6 {
        width: 50%;

    }

    .col-md-7 {
        width: 58.33%;

    }

    .col-md-8 {
        width: 66.66%;

    }

    .col-md-9 {
        width: 75%;

    }

    .col-md-10 {
        width: 83.33%;

    }

    .col-md-11 {
        width: 91.66%;

    }

    .col-md-12 {
        width: 100%;

    }

    .d-md-none {
        display: none;
    }

    .single-service {
        margin-bottom: 70px;
    }

    .single-team {
        margin-bottom: 70px;
    }

    .client-text p {
        font-size: 16px;
        padding: 0px 130px;
        margin-top: 20px;
    }

    .input-wrapper-1 {
        flex-direction: column;
    }

    .input-wrapper-1 input:first-child {
        margin-right: 0px;
        margin-bottom: 27px;
    }

    .input-wrapper-1 input, .input-wrapper-2 textarea {
        width:100%;
       
    }

    
}


/* small mobile :320px. ex-sm */
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .col-sm-1 {
        width: 8.33%;

    }

    .colsm-2 {
        width: 16.66%;

    }

    .col-sm-3 {
        width: 25%;

    }

    .col-sm-4 {
        width: 33.33%;

    }

    .col-sm-5 {
        width: 41.66%;

    }

    .col-sm-6 {
        width: 50%;

    }

    .col-sm-7 {
        width: 58.33%;

    }

    .col-sm-8 {
        width: 66.66%;

    }

    .col-sm-9 {
        width: 75%;

    }

    .col-sm-10 {
        width: 83.33%;

    }

    .col-sm-11 {
        width: 91.66%;

    }

    .col-sm-12 {
        width: 100%;
    }

    .d-sm-none {
        display: none;
    }

    .logo {
        width: 90px;
        margin: 17px 0;
    }

    .slider-text {
        padding-top: 120px;
    }

    .slider-text h1 {
        font-size: 28px;
        text-align: center;
    }

    .slider-text p {
        font-size: 16px;
        margin: 7px 0 33px 0;
        text-align: center;
        line-height: 30px;
    }

    .slider-text .btn {
        padding: 9px 20px;
        font-size: 18px;
 
    }

    .hero-slider .slider-active .owl-nav div {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 53%;
        left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 18px;
        border-radius: 50%;
        background: none;
    }

    .single-slider {
        min-height: 47vh;
        background-size: cover;
    }

    .hero-slider .slider-active .owl-nav div.owl-next {
        right: 4px;
    }

    .sectionHeading h1 {
        font-size: 28px;
    }

    section{
        padding:50px 0;
    }

    .service-cards,.team-cards {
        margin-top: 60px;
    }

    .single-service,.single-team,.single-price {
        margin-bottom: 50px;
    }

    .single-service h2 {
        font-size: 19px;
    }

    .single-service p {
        line-height: 22px;
        font-size: 14px;
    }

    .client-text p {
        font-size: 14px;
        line-height: 28px;
        padding: 0px 0px;
    }

    .client-slider .client-slider-active .owl-nav div {
        display: none;
    }

    .contact-content {
        margin-top: 19px;
    }

    .contact-text {
        margin-bottom: 30px;
    }

    .input-wrapper-1 {
        flex-direction: column;
    }

    .input-wrapper-1 input:first-child {
        margin-right: 0px;
        margin-bottom: 27px;
    }

    .input-wrapper-1 input, .input-wrapper-2 textarea {
        width:100%;
       
    }

    .contact-text p {
      padding: 0px;
    }

    .input-wrapper-3 {
        text-align: center;
    }

    .single-team .team-img {
        width: 80px;
        height: 80px;
    }

    .nav-menu nav ul li a {
        padding: 11px 6px;
        font-size: 14px;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }
    .logo img {
        width:90px;
    }
    .nav-menu nav {
        justify-content: center;
    }
    

}

/* Large Mobile :480px. sm */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 550px
    }

    .single-service p,.team-content p {
        padding: 0 106px;
    }

}
